<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.staticImages = {
   formImage: "<%= image_url("dinner-salad_925x.jpg") %>",
   navImage: "<%= image_url("cooking.png") %>",
   modalImage: "<%= image_url("savory-breakfast-roll_4460x4460.jpg") %>"
 }
</script>
<main id="root"></main>
