

.index-header {
  margin: auto;
}

.index-header h1 {
  font-family: 'Domine', serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 24px;
  margin-left: 70px;
}

.index-header p {
  font-size: 10px;
  font-family: 'Domine', serif;
}


#index-text-id {
  margin: auto;
  width: 85%;
  border-bottom: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#index-text-id img {
  width: 45%;
  // margin-bottom: 5%;
}

#index-text-id p {
  font-size: .8em;
  margin-bottom: 5%;
}


#index-text-id img:hover {
  border-bottom: 1px solid black;
  // box-shadow: inset 0px 0px 0px 3px black;
  // box-sizing: border-box;
}

.flex-recipe-grid {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
  flex-grow: 1;
  margin-left: 3vh;
  // background-color: blue;
}

.index-recipe-grid {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
}

.col-recipe-index {
  padding: 4px;
  margin-bottom: 12px;
  // flex-basis: 112px;
  // flex-grow: 1;
  width: 146px;
  // width: 235px;
  // height: 210px;
  display: block;
  position: relative;
  margin-right: 7.5px;
  margin-left: 7.5px;

}

.col-recipe-index:hover {
  // transform: scale(1.006, 1.006);
  box-shadow:1px 1px 4px #706E6F;
  // box-shadow: 0px -2px 84px -23px rgba(0,0,0,1);
}

.recipeInfo {
  box-sizing: border-box;
  outline: 0;
  display: block;
  font-weight: 500;
  display: block;
}

.title-wrapper {
  height: 40px;
  overflow: hidden;
}

#recipeName {
  // overflow: hidden;
  font-family: 'franklin-700';
  // font-size: 300px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.06em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  // font-size: 1.17em;
  padding-bottom: 1px;
  margin-bottom: 3px;
  padding-top: 1px;
  margin-top: 1px;
  text-decoration: none;
  color: black;
  height: 44px;
  cursor: pointer;
}

#author {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 10px;
  font-weight: lighter;
  color: black;
  margin-top: 10px;
}

.recipeFooter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}

#cookingTime {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 7px;
  font-weight: lighter;
  color: grey;
  margin-top: 20px;
  margin-bottom: 1px;
}

#red {
  color: red;
}

#feature-description {
  font-family: 'Domine', serif;
  font-size: 16px;
  margin-top: 7%;
}

#recipe-title h3{
  margin-top: 9%;
  font-family: 'franklin-700';
  font-weight: bolder;
}


@media(max-height: 534px) {
  #recipe-circle{
    display: none;
    cursor: pointer;
  }

  #recipe-title{
    display: none;
    cursor: pointer;
  }
}

  @media(max-width: 943px) {
    #recipe-circle{
      display: none;
      cursor: pointer;
    }

    #recipe-title{
      display: none;
      cursor: pointer;
    }

    .image {
      margin: auto;
      height: 100%;
    }

    .image img{
      height: 100%;
    }

  }

  @media(min-width: 944px) and (max-width: 1088px) {
    #recipe-title {
      width: 256px;
      height: 224px;
      background: white;
      position: absolute;
      right: 85px;
      bottom: 251px;
      text-align: center;
      cursor: pointer;
    }

    #recipe-circle {
      position: absolute;
      bottom: 407px;
      right: 35px;
      width: 110px;
      height: 110px;
      background-color: #e33d26;
      border-radius: 55px;
      color: white;
      text-align: center;
      font-size: 12px;
      letter-spacing: 1.3px;
      box-sizing: border-box;
      padding-top: 40px;
      font-family: 'karnak-400';
      z-index: 2;
      cursor: pointer;
    }

    .image {
      margin: auto;
      height: 100%;
      // width: 100vh;
    }

    .image img{
      height: 100%;
    }

    #recipe-title h2{
      font-family: 'Domine', serif;
      font-weight: lighter;
      // margin-left: 19%;
      margin-top: 15%;
      font-size: 22px;
    }

  }

  @media(min-width: 1089px) and (max-width: 1220px) {
    #recipe-title {
      width: 320px;
      height: 280px;
      background: white;
      position: absolute;
      right: 85px;
      bottom: 96px;
      text-align: center;
      cursor: pointer;
    }

    #recipe-circle {
      position: absolute;
      bottom: 316px;
      right: 35px;
      width: 110px;
      height: 110px;
      background-color: #e33d26;
      border-radius: 55px;
      color: white;
      text-align: center;
      font-size: 12px;
      letter-spacing: 1.3px;
      box-sizing: border-box;
      padding-top: 40px;
      font-family: 'karnak-400';
      z-index: 2;
      cursor: pointer;
    }

    .image {
      margin: auto;
      height: 100%;
      // width: 100vh;
    }

    .image img{
      height: 100%;
    }

    #recipe-title h2{
      font-family: 'Domine', serif;
      font-weight: lighter;
      // margin-left: 20%;
      margin-top: 15%;
      font-size: 28px;
    }
  }

  @media(min-width: 1221px) {
    #recipe-title {
      width: 320px;
      height: 280px;
      background: white;
      position: absolute;
      right: 85px;
      bottom: 61px;
      text-align: center;
      cursor: pointer;
    }

    #recipe-circle {
      position: absolute;
      bottom: 282px;
      right: 35px;
      width: 110px;
      height: 110px;
      background-color: #e33d26;
      border-radius: 55px;
      color: white;
      text-align: center;
      font-size: 12px;
      letter-spacing: 1.3px;
      box-sizing: border-box;
      padding-top: 40px;
      font-family: 'karnak-400';
      z-index: 2;
      cursor: pointer;
    }

    .image {
      margin: auto;
      height: 105vh;

    }

    .image img{
      height: 100%;
    }

    #recipe-title h2{
      font-family: 'Domine', serif;
      font-weight: lighter;
      margin-top: 15%;
      font-size: 28px;
    }
  }

.fa-bookmark-o {
  cursor: pointer;
}

#indexImageWrapper {
  overflow: hidden;
  max-height: 98px;
}

#gridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 11vw;
  padding-right: 5vw;
  align-self: center;
  margin: auto;
}
