.main-nav {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  font-family: 'Domine', serif;
}

.formImage {
  border-right: 1px solid #ccc;
  display: block;
  float: left;
  padding-left: 16px;
  position: relative;
  max-width: 124px;
  max-height: 42px;
  padding-right: 17px;
  padding: 8px 46px 8px 21px;
}

.formImage:hover {
  border-bottom: 1px solid #ccc;
}


.right-nav {
  box-sizing: border-box;
  height: 100%;
  text-align: right;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 45px;
  display: flex;
  justify-content: flex-end;
}

.subscribe {
  font-size: .75rem;
  color: black;
  letter-spacing: .5px;
  line-height: 1.1em;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  text-decoration: none;
}

.welcomeMessage {
  font-size: .75rem;
  color: black;
  letter-spacing: inherit;
  line-height: 1.1em;
  text-align: center;
  text-transform: uppercase;
  margin: 5px auto 0;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px;
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
}

.logoutButton {
  float: right;
  text-transform: uppercase;
  position: relative;
  font: inherit;
  color:inherit;
  border:none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
