.avgRatingFill {
  background-image: image_url('avg-star.png');
  background-size: contain;
  width: 15px;
  height: 15px;
}

.avgRatingFill {
  background-image: image_url('avg-star.png');
  background-size: contain;
  width: 15px;
  height: 15px;
}

.ratingEmpty {
    background-image: image_url("star-unfilled.png");
    background-size: contain;
    width: 15px;
    height: 15px;
}


.currentRatingFill {
    background-image: image_url('star-red.png');
    background-size: contain;
    width: 15px;
    height: 15px;
}

.savedRatingFill {
  background-image: image_url('star-white.png');
  background-size: contain;
  width: 15px;
  height: 15px;
}

.ratings-bar {
  display: flex;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #ccc;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 5px;
  position: relative;
}

.ratingItems {
  display: flex;
  margin-right: 3%;
  align-items: center;
  margin-top: 1.5%;
}

.ratingNumber {
  padding-right: 10px;
  border-right: 1px solid #ccc;
  font-family: 'franklin-300';
}

.currentRating {
  display: flex;
  padding-left: 9px;
}

.ratingGone {
  display: none;
}

.hoverBox {
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  height: 0px;
  right: -20px;
  bottom: 54px;
  position: absolute;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  margin-top: 50%;
  width: 179px;
  // height: 80px;
}

.hoverStars {
  transition: opacity 1ms ease-in-out;
  display: flex;
  margin-right: 3%;
  align-items: center;
  margin-top: 14.5%;
  transition: none;
}
