.recipeContainer {
  width: 95%;
  margin-left: 70px;
  margin-right: 10px;
}

#header-1 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 231px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    top: 0px;
    width: 95%;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 358.125px 134.492px;
    transform-origin: 358.125px 134.492px;
    border: 0px none rgb(34, 34, 34);
    font: 'cheltenham-500';
    outline: rgb(34, 34, 34) none 0px;
}/*#HEADER_1*/

#HEADER_1:after {
    clear: both;
    color: rgb(34, 34, 34);
/*     content: '"' '"'; */
    display: table;
    height: 0px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    width: 0px;
    column-rule-color: rgb(34, 34, 34);
/*     perspective-origin: 0px 0px; */
    transform-origin: 0px 0px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}/*#HEADER_1:after*/

#HEADER_1:before {
    color: rgb(34, 34, 34);
    content: '"' '"';
    display: table;
    height: 0px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    width: 0px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}/*#HEADER_1:before*/

#A_2 {
    box-sizing: border-box;
    color: rgb(110, 157, 213);
    display: inline-block;
    height: 12.5px;
    letter-spacing: 1.296px;
    text-align: left;
    text-decoration: none solid rgb(110, 157, 213);
    text-transform: uppercase;
    width: 39.7656px;
    column-rule-color: rgb(110, 157, 213);
    perspective-origin: 19.8828px 6.25px;
    transform-origin: 19.8828px 6.25px;
    border: 0px none rgb(110, 157, 213);
    margin: 10px 0px 0px;
    outline: rgb(110, 157, 213) none 0px;
}/*#A_2*/

#div-3 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 50px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    width: 716.25px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 358.125px 30px;
    transform-origin: 358.125px 30px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    margin: 10px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 0px 15px;
}/*#DIV_3*/

#header-title {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 45px;
    letter-spacing: 0.94px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    width: 716.25px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 358.125px 22.5px;
    transform-origin: 358.125px 22.5px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font-family: 'Cheltenham-BT';
    font-weight: lighter;
    margin-bottom: 5px;
    // outline: rgb(34, 34, 34) none 0px;
}/*#H1_4*/

#div-4 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 103.984px;
    text-align: left;
    // text-decoration: none solid rgb(34, 34, 34);
    width: 100%;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 358.125px 51.9922px;
    transform-origin: 358.125px 51.9922px;
    caret-color: rgb(34, 34, 34);
    // border: 0px none rgb(34, 34, 34);
    font: 'franklin-300';
    margin: 0px 0px 35px;
    // outline: rgb(34, 34, 34) none 0px;
}/*#DIV_5*/

#name-header {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 17.5px;
    letter-spacing: 1.13px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-transform: uppercase;
    width: 716.25px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 358.125px 8.75px;
    transform-origin: 358.125px 8.75px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font-family: 'franklin-300';
    margin: 0px 0px 35px;
    outline: rgb(34, 34, 34) none 0px;
}/*#H3_6*/

#A_7 {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    letter-spacing: 1.13px;
    text-align: left;
    text-decoration: none solid rgb(0, 0, 0);
    text-transform: uppercase;
    column-rule-color: rgb(0, 0, 0);
    caret-color: rgb(0, 0, 0);
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
}/*#A_7*/

#span-name {
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 1.13px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Libre Franklin';
  font-size: 13px;
  margin-top: -5px;
  font-weight: bolder;
  }

#span-name:hover {
  border-bottom: 1px solid black;
}

#name {
  border-bottom: 1px solid grey;
  height: 32px;
  margin-bottom: 30px;
  width: 95%;
}

#subHeader {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 51.4844px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    width: 716.25px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 358.125px 25.7422px;
    transform-origin: 358.125px 25.7422px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    margin: 0px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
}/*#UL_9*/

#yield-and-servings {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 20.7422px;
    letter-spacing: 0.5px;
    text-decoration: none solid rgb(34, 34, 34);
    width: 716.25px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 358.125px 10.3711px;
    transform-origin: 358.125px 10.3711px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 500 normal 15px / 19px nyt-franklin, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 10px;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
}/*#LI_10*/

#SPAN_11, #SPAN_15 {
    box-sizing: border-box;
    display: block;
    float: left;
    height: 18.75px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    width: 60px;
    perspective-origin: 30px 9.375px;
    transform-origin: 30px 9.375px;
    font-family: 'karnak-400';
    list-style: none outside none;
    margin: 3px 0px 0px;
}/*#SPAN_11, #SPAN_15*/

#SPAN_12, #SPAN_16 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    float: left;
    height: 18.75px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    width: 656.25px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 328.125px 9.375px;
    transform-origin: 328.125px 9.375px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    margin-top: 2px;
    font-family: 'franklin-300';
}/*#SPAN_12, #SPAN_16*/

#LI_13 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 20.7422px;
    letter-spacing: 0.5px;
    text-decoration: none solid rgb(34, 34, 34);
    width: 716.25px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 358.125px 10.3711px;
    transform-origin: 358.125px 10.3711px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
    height: 22.7422px;
}

$break-small: 320px;
$break-large: 757px;

// #recipe-image{
//   width: 80%;
//   margin-right: 20px;
//   }
// }

@media screen and (min-width: 757px ) and (max-width: 1000px ) {
  #recipeImage {
    max-width: 540px;
  }
}

@media screen and (min-width: 1000px ) and (max-width: 1400px ) {
  #recipeImage {
    max-width: 760px;
  }
}


#description {
  font-family: 'Domine', serif;
  font-size: 15px;
  font-weight: bold;
}

.recipe-instructions {
  margin-top: 10px;
  padding: 0 0 35px;
  width: 90%;
  float: left;
  margin-bottom: -500px;
}

.recipe-ingredients-wrap {
    float: left;
    margin-bottom: 0;
    padding-right: 1em;
    width: 32.31579%;
    margin-bottom: 800px;
    display: block;
    box-sizing: border-box;
    margin-top: 30px;
    margin-right: -44px;
    padding-right: 50px;
}

.recipe-ingredients {
  margin-left: 12px;
}


.ingredient {
  font-family: 'Libre Franklin';
  vertical-align: top;
  line-height: 18.6px;
  font-size: 13px;
  font-weight: bolder;
  margin-top: 10px;
}

#ingredientTitle {
  display: block;
  font-family: 'karnak-400';
  font-size: 13px;
  font-weight: lighter;
}

.steps {
  margin-top: 20px;
  font-family: 'franklin-500';
  font-size: 14px;
  font-style: bold;
  margin-top: 30px;
}

#preparation {
  font-family: 'karnak-400';
  font-size: 14px;
  margin-bottom: 20px;
}

#stepLabel {
  font-family: 'franklin-300';
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

#step {
  margin-bottom: 16px;
}

.comments-container {
  clear:both;
  margin-top: -60px;
  margin-left: 130px;
  border: 1px solid #ccc;
  width: 60%;
}
