html, body {
    width: 100%;
    height: 100%;
}

#DIV_1 {
  box-sizing: border-box;
  color: #222222;
  height: 392.836px;
  perspective-origin: 500px 275.918px;
  transform-origin: 500px 275.918px;
  border: 0px none #222222;
  font: Georgia, "Times New Roman", serif;
  justify-content: space-between;
  margin-top: 20px;
}


@media (max-width: 699px) {
  #DIV_1 {
    box-sizing: border-box;
    color: #222222;
    height: 392.836px;
    perspective-origin: 500px 275.918px;
    transform-origin: 500px 275.918px;
    border: 0px none #222222;
    font: Georgia, "Times New Roman", serif;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  #recipeImage {
    float: right;
    width: 50.63158%;
    width: 80%;
    margin-top: 20%;
    margin-right: 190px;
  }

  #description {
    box-sizing: border-box;
    height: 427.5px;
    width: 343.691px;
    perspective-origin: 171.836px 213.75px;
    transform-origin: 171.836px 213.75px;
    margin: 0px 0px 15px;
    font-family: 'Domine', serif;
    font-size: 18px;
    font-weight: normal;
    width: 80%;
    padding-top: 0%;
    font-family: 'Domine', serif;
    font-size: 15px;
    font-weight: bold;
    display: flex;
  }

  .recipe-ingredients-wrap {
    width: 80%;
    margin-top: 30px;
    margin-right: -44px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
  }

  .recipe-instructions {
    margin-top: 40%;
    padding: 0 0 35px;
    width: 90%;
    float: left;
  }

  .steps {
    margin-top: 20px;
    font-family: 'franklin-500';
    font-size: 15px;
    font-style: bold;
    margin-top: 30px;
  }
}

  #recipeImage {
    @media (min-width: 700px) {
      float: right;
      margin: 0 auto 20px 30px;
      width: 50.63158%;
      max-width: 500px;
      margin-top: 100px;
      margin-right: 190px;
    }

    @media (min-width: 1100px) {
      width: 62.63158%;
      max-width: 500px;
      // margin-right: 300px;
      margin-right: 400px;
      margin-top: 100px;
      margin-right: 40%;
    }

    @media (min-width: 1500px ) {
      width: 62.63158%;
      max-width: 500px;
      margin-right: 400px;
      margin-top: 100px;
      margin-right: 55%;
    }

    @media (min-width: 1700px ) {
      width: 62.63158%;
      max-width: 500px;
      margin-right: 400px;
      margin-top: 100px;
      margin-right: 55%;
    }

    @media (min-width: 2000px ) {
      width: 62.63158%;
      max-width: 500px;
      margin-right: 400px;
      margin-top: 100px;
      margin-right: 58%;
    }


    @media (min-width: 3000px ) {
      width: 62.63158%;
      max-width: 500px;
      margin-right: 400px;
      margin-top: 100px;
      margin-right: 55%;
    }
  }
// }


#top-border {
  border-bottom: 2px solid black;
  width: 99%
  // padding-bottom: 30px;
}

#description {
    // box-sizing: border-box;
    // height: 427.5px;
    // width: 343.691px;
    // perspective-origin: 171.836px 213.75px;
    // transform-origin: 171.836px 213.75px;
    // margin: 0px 0px 15px;
    // font-family: 'Domine', serif;
    // font-size: 12px;
    // font-weight: normal;
    // width: 200px;
    // padding-top: 40px;

    @media (min-width: 700px) {
      box-sizing: border-box;
      height: 427.5px;
      width: 343.691px;
      perspective-origin: 171.836px 213.75px;
      transform-origin: 171.836px 213.75px;
      margin: 0px 0px 15px;
      font-family: 'Domine', serif;
      font-weight: normal;
      width: 200px;
      padding-top: 40px;
      font-family: 'Domine', serif;
      font-size: 16px;
      font-weight: bold;
    }
}/*#P_3*/

#P_4 {
    box-sizing: border-box;
    // color: rgb(34, 34, 34);
    cursor: default;
    height: 47.5px;
    width: 343.691px;
    // column-rule-color: rgb(34, 34, 34);
    perspective-origin: 171.836px 23.75px;
    transform-origin: 171.836px 23.75px;
    font-family: 'cheltenham-300';
    margin: 0px 0px 15px;
}/*#P_4*/


#recipeSave {
  background-clip: border-box;
  background-color: #e65f51;
  border-radius: 3px;
  border-right: 1px solid #e65f51;
  color: #fff;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: .8rem;
  height: 34px;
  letter-spacing: .06em;
  line-height: 32px;
  position: relative;
  word-spacing: -.15em;
  margin-top: 20px;
  cursor: pointer;
}


@media screen and (min-width: 900px ) {
  #subHeader {
    margin-right: 200px;
  }
}
