.search-bar {
  left: 191px;
  position: absolute;
  width: 40%;
  z-index:100;
  background-color:#fff;
}

.search-dropdown {
  z-index: 4;
  display: flex;
  flex-direction: column;
}

#search-input {
  width: 100%;
  font-size: 1em;
  padding: 20px;
  border: none;
  /* border-right: 1px solid #ccc; */
  padding: 3.33%;
  border-left: 1px solid #ccc;
}

#search-input:focus{
    outline: none;
}

.search-result-item {
  // width: 15%;
  display: flex;
  flex-direction: row;
}

#search-image {
  height: 50px;
  width: 72px;
  margin-right: 5%;
}
