.session-form-container {
  position: fixed;
  font-family: 'cheltenham-500';
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  display: flex;
}

.session-form {
  display: flex;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'cheltenham-500';
  align-items: center;
  background-color: rgba(257, 257, 257, .95);
  position: absolute;
  left: 30%;
  right: 30%;
  width: 48%;
  height: 90%;
  z-index: 4;
  border: 0.5px solid black;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 75px;
}

@media (min-width: 1800px) {
  .session-form {
    display: flex;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'cheltenham-500';
    align-items: center;
    background-color: rgba(257, 257, 257, .95);
    position: absolute;
    left: 30%;
    right: 30%;
    width: 36%;
    height: 85%;
    z-index: 4;
    border: 0.5px solid black;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 75px;
  }
}

h1.welcomeMessage {
  font-size: 40px;
  padding-bottom: 10px;
  font-family: 'Domine', serif;
}

.login-form-box {
  align-items: center;
  border: 1px grey;

}

.greeting {
  font-size: 22px;
  padding: 15px;
}

.button {
  background-color: #e33d26;
  width: 100%;
  height: 30px;
  font-size: 17px;
  font-family: 'franklin-300';
  font-style: bold;
  text-decoration: none;
}

#modal-input {
  background-color: #fff;
  border: 1px solid #deddd5;
  font-size: 20px;
  color: #222;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: .3px;
  padding: 10px;
  width: 94%;
  padding: 10px;
  margin-bottom: 9px;
}


h1 {
  font-weight: bold;
  font-size: 35px;
}

.formImage {
  height: 200px;
}

.sessionButton {
  color: #e33d26;
  font-weight: bold;
  // font-family: 'franklin-300';
}

.errors {
  font-size: 13px;
  color: #e33d26;
}

#session-input {
  padding: 15px;
}

.exit-button {
  padding: 9px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  color: #ccc;
  font-size: 26px;
  font-family: sans-serif;
}

@media (max-width: 652px) {

  h1.welcomeMessage {
    font-size: 33px;
    padding-bottom: 10px;
    font-family: 'Domine', serif;
  }

  .greeting {
      font-size: 18px;
      padding: 15px;
  }
}
