
.session-form-container {
  position: fixed;
   background: rgba(0, 0, 0, 0.7);
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1;
   display: flex;
}

.session-form {
  display: flex;
  margin: 0 auto;
  font-family: 'Domine', serif;
  align-items: center;
  background-color: rgba(257, 257, 257, .95);
  position: absolute;
  left: 30%;
  right: 30%;
  width: 45%;
  height: 90%;
  z-index: 3;
  border: 0.5px solid black;
  box-sizing: border-box;
  justify-content: center;
  padding-top: 10px;
}

.login-form-box {
  align-items: center;
  border: 1px grey;
}

.button {
  background-color: #e33d26;
  width: 100%;
  height: 30px;
  font-size: 15px;
  font-family: 'Domine', serif;
  font-style: bold;
}

.model-input {
  background-color: #fff;
  border: 1px solid #deddd5;
  color: #222;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  height: 40px;
  letter-spacing: .3px;
  margin-top: 4px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 35px;
}

.sessionButton {
  color: #e33d26;
  font-weight: bold;
}

.errors {
  font-size: 13px;
  color: #e33d26;
}
